*.[oa]
*~    
bin   
blib
Debug 
Release
temp
*.dll 
*.exe 
*.ilk 
*.pdb
*.idb 
*.obj 
*.res 
*.suo 
*.ncb 
*.user
*.chm
*.fasl
*.fas
*.manifest
*old
*.lib
*.exp
*.ncb
*.suo
*.exp
*.bin
*.dep
BuildLog.htm