*.[oa]
*~    
bin   
blib
Debug 
Release
temp
*.dll 
*.exe 
*.ilk 
*.pdb
*.idb 
*.obj 
*.res 
*.suo 
*.ncb 
*.user
*.chm
*.fasl
*.fas
RAUTODLL
RDLL
DebugDll
*.manifest
AutoDll
Debug
*old
Release
_UpgradeReport_Files
*.lib
*.exp
*.ncb
*.suo
release
*.exp
*.bin
DebugDll
*.dep
BuildLog.htm