*.[oa]
*~    
bin   
release
DebugDll
Release
_UpgradeReport_Files
RAUTODLL
RDLL
DebugMingw
DebugDll
AutoDll
Debug
blib
Debug 
Release
temp
*.manifest
*.dll 
*.exe
*.zip
*.ilk 
*.pdb
*.idb 
*.obj 
*.res 
*.suo 
*.ncb 
*.user
*.chm
*.fasl
*.fas
*old
*.lib
*.exp
*.ncb
*.suo
*.user
