*.[oa]
*~    
bin   
blib
Debug 
Release
temp
*.dll 
*.exe 
*.ilk 
*.pdb
*.idb 
*.obj 
*.res 
*.suo 
*.ncb 
*.user
*.chm
*.fasl
*.fas
RAUTODLL
RDLL
DebugDll
*.manifest
AutoDll
Debug
